{% if product.metafields.custom.relacionados != blank %}
  <div class="gramajes-wrapper">
    <h3>Gramaje:</h3>
    <div class="gramajes-list">
      {% assign productos_relacionados = product.metafields.custom.relacionados.value %}
      {% for producto in productos_relacionados %}
        <a href="{{ producto.url }}" class="gramaje-item {% if producto.id == product.id %}active{% endif %}">
          {{ producto.metafields.custom.peso }} g
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
<style>
  .pdp-porcion {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: start;
  }

  .desc-pdp-porcion p{ 
 font-size: 18px;
  }


  .porcion-pdp {
    background-color: #E23332;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 9999px;
  }
</style>


{% schema %}
  {
    "name": "Relacionado",
    "tag": null,
    "settings": [
      {
        "type": "richtext",
        "id": "text-desc",
        "label": "Text Descrpicion"
      },
      {
        "type": "richtext",
        "id": "text-porcion",
        "label": "Text porcion"
      }
    ],
    "presets": [
      {
        "name": "Relacionado",
        "category": "Product"
      }
    ]
  }
{% endschema %}