{% if product.metafields.custom.relacionados != blank %}
  <div class="gramajes-wrapper">
    <h5>Gramaje:</h5>
    <div class="gramajes-list">
      {% assign productos_relacionados = product.metafields.custom.relacionados.value %}
      {% for producto in productos_relacionados %}
        <a href="{{ producto.url }}" class="gramaje-item {% if producto.id == product.id %}active{% endif %}">
          {{ producto.metafields.custom.peso }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}

<style>
.gramajes-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  scrollbar-width: thin; /* Firefox */
}

a.gramaje-item {
  flex: 0 0 auto;
  padding: 6px 18px;
  border-radius: 12px;
  background-color: #ccc;
  color: black;
  text-decoration: none;
}

a.gramaje-item.active {
  background-color: white;
  border: 2px solid black;
}

.gramajes-list::-webkit-scrollbar {
  display: none;
}

.gramajes-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


</style>


{% schema %}
  {
    "name": "Relacionado",
    "tag": null,
    "settings": [
      {
        "type": "richtext",
        "id": "text-desc",
        "label": "Text Descrpicion"
      },
      {
        "type": "richtext",
        "id": "text-porcion",
        "label": "Text porcion"
      }
    ],
    "presets": [
      {
        "name": "Relacionado",
        "category": "Product"
      }
    ]
  }
{% endschema %}