{%- comment -%} === BLOQUE DE GRAMAJES === {%- endcomment -%}
{% if product.metafields.custom.relacionados != blank %}
  <div class="gramajes-wrapper">
    <h5>Gramaje:</h5>
    <div class="gramajes-list">
      {% assign relacionados = product.metafields.custom.relacionados.value %}
      {% assign pesos_mostrados = '' %}

      {% for producto in relacionados %}
        {% assign peso = producto.metafields.custom.peso %}
        {% unless pesos_mostrados contains peso %}
          <a href="{{ producto.url }}" class="gramaje-item {% if peso == product.metafields.custom.peso %}active{% endif %}">
            {{ peso }} g
          </a>
          {% assign pesos_mostrados = pesos_mostrados | append: peso | append: ',' %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{%- comment -%} === BLOQUE DE SABORES === {%- endcomment -%}
{% if product.metafields.custom.sabor_list != blank %}
  <div class="sabores-wrapper">
    <h5>Sabor:</h5>
    <div class="sabores-list">
      {% assign sabores = product.metafields.custom.sabor_list.value %}
      {% assign sabores_mostrados = '' %}

      {% for producto in sabores %}
        {% assign sabor = producto.metafields.custom.sabor %}
        {% unless sabores_mostrados contains sabor %}
          <a href="{{ producto.url }}" class="sabor-item {% if sabor == product.metafields.custom.sabor %}active{% endif %}">
            {{ sabor }}
          </a>
          {% assign sabores_mostrados = sabores_mostrados | append: sabor | append: ',' %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
{% endif %}


<style>
.gramajes-wrapper {
    margin-top: -40px;
}

  .gramajes-wrapper h5{
    margin:0
  }

  .gramajes-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 12px 0px;
    scrollbar-width: thin; /* Firefox */
  }

  a.gramaje-item {
    flex: 0 0 auto;
    padding: 6px 18px;
    border-radius: 12px;
    background-color: #ccc;
    color: black;
    text-decoration: none;
  }

  a.gramaje-item.active {
    background-color: white;
    border: 2px solid black;
  }
</style>

{% schema %}
{
  "name": "Relacionado",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "text-desc",
      "label": "Text Descrpicion"
    },
    {
      "type": "richtext",
      "id": "text-porcion",
      "label": "Text porcion"
    }
  ],
  "presets": [
    {
      "name": "Relacionado",
      "category": "Product"
    }
  ]
}
{% endschema %}
