<div class="fnt-contact-section">
  <div class="fnt-contact-wrapper">
    <!-- Mapa o Liquid embebido -->
    <div class="fnt-contact-map">
      {% if section.settings.map_embed_code != blank %}
        {{ section.settings.map_embed_code }}
      {% endif %}
    </div>

    <!-- Información de contacto -->
    <div class="fnt-contact-info">
     {{ section.settings.text }}
    </div>
  </div>
</div>

<style>

.fnt-contact-section {
    color: white;
    padding: 40px 20px;
    font-family: sans-serif;
  }

  .fnt-contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    max-width: 1500px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .fnt-contact-map {
    flex: 1;
    min-width: 300px;
  }

  .fnt-contact-info {
    flex: 1;
    min-width: 300px;
  }

  .fnt-contact-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .fnt-contact-info p {
    margin-bottom: 10px;
    line-height: 1.6;
  }

  /* Responsive: columnas en mobile */
  @media screen and (max-width: 768px) {
    .fnt-contact-wrapper {
      flex-direction: column;
    }

    .fnt-contact-map,
    .fnt-contact-info {
      width: 100%;
    }
  }
</style>


{% schema %}

{
  "name": "Sección de contacto FNT",
  "settings": [
    {
      "type": "liquid",
      "id": "map_embed_code",
      "label": "Código embed del mapa (iframe)"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "Texto"
    }
    
  ],
  "presets": [
    {
      "name": "Mapa"
    }
  ]
}

{% endschema %}

