<div class="category-blocks">
  {% for block in section.blocks %}
    <a href="{{ block.settings.url }}" class="category-block{% if request.path == block.settings.url %} active{% endif %}">

      <!-- SVG decorativo (siempre presente, visible solo en .active con CSS) -->
      <span class="category-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="46"
          height="44"
          viewBox="0 0 46 44"
          fill="none">
          <g style="mix-blend-mode:multiply" opacity="0.55">
            <path d="M-5.46094 44.2479L10.7187 23.4452L-4.14045 3.80893e-05L10.7187 3.74397e-05L25.2476 22.124L8.73791 44.2479L-5.46094 44.2479Z" fill="#E23332" />
          </g>
          <g style="mix-blend-mode:multiply" opacity="0.55">
            <path d="M14.3672 44.2478L30.5468 23.4451L15.6877 -8.39811e-05L30.5468 -8.46306e-05L45.0758 22.1239L28.566 44.2478L14.3672 44.2478Z" fill="#E23332" />
          </g>
        </svg>
      </span>

      <span class="category-label">{{ block.settings.title }}</span>
    </a>
  {% endfor %}
</div>

<style>
  .category-block {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex: 0 0 auto;
    padding: 0.75rem 1.5rem;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    scroll-snap-align: start;
    overflow: hidden;
  }

  .category-block:hover {
    background-color: #ddd;
  }

  .category-block .category-icon {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    z-index: 0;
  }

  .category-block.active .category-icon {
    display: inline-flex;
  }
  .category-block .category-icon svg {
    width: 52px;
    height: auto;
  }

  .category-block .category-label {
    position: relative;
    z-index: 1;
  }

  .category-block.active {
    background-color: #A31E1E;
    color: white;
  }

  .category-blocks {
    margin: 0 auto;
    display: flex;
    padding: 1rem  0rem 0rem 2.5rem;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  @media (max-width: 768px) {
    .category-blocks {
      margin: 0 18px;
    }
  }


</style>

{% schema %}
  {
    "name": "Categorías destacadas",
    "settings": [],
    "blocks": [
      {
        "type": "category_block",
        "name": "Bloque de categoría",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Nombre de la categoría",
            "default": "PROTEÍNAS"
          }, {
            "type": "url",
            "id": "url",
            "label": "Enlace de la categoría"
          }
        ]
      }
    ],
    "max_blocks": 10,
    "presets": [
      {
        "name": "Categorías destacadas"
      }
    ]
  }
{% endschema %}