<div class="stp-atleta-section">

  <div class="stp-atleta-content">

    <div class="stp-atleta-bg-circular"></div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="100%"
      height="2"
      viewBox="0 0 354 2"
      fill="none">
      <path
        d="M0 1H354"
        stroke="url(#paint0_linear_319_1910)"
        stroke-width="0.7" />
      <defs>
        <linearGradient
          id="paint0_linear_319_1910"
          x1="0"
          y1="1.5"
          x2="354"
          y2="1.5"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#E23332" />
          <stop offset="0.500027" stop-color="white" />
          <stop offset="1" stop-color="#E23332" />
        </linearGradient>
      </defs>
    </svg>
    <div class="stp-atleta-title">
      <h4>
        {{ section.settings.title | escape }}
      </h4>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="100%"
      height="2"
      viewBox="0 0 354 2"
      fill="none">
      <path
        d="M0 1H354"
        stroke="url(#paint0_linear_319_1910)"
        stroke-width="0.7" />
      <defs>
        <linearGradient
          id="paint0_linear_319_1910"
          x1="0"
          y1="1.5"
          x2="354"
          y2="1.5"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#E23332" />
          <stop offset="0.500027" stop-color="white" />
          <stop offset="1" stop-color="#E23332" />
        </linearGradient>
      </defs>
    </svg>
    <div class="stp-atleta-desc">
      <h5>{{ section.settings.text | newline_to_br }}</h5>
    </div>
  </div>
  <div class="stp-atleta-bg-container">
    {% if section.settings.bg_image != blank %}
      <img
        class="stp-atleta-bg"
        src="{{ section.settings.bg_image | img_url: '900x' }}"
        alt="Imagen atleta">
    {% endif %}
  </div>
</div>


<style>

  .stp-atleta-bg-circular {
    border-radius: 515px;
    background: rgb(207 41 40 / 75%);
    width: 515px;
    height: 515px;
    filter: blur(113.05000305175781px);
    position: absolute;
    top: 5%;
    z-index: -1;
    right: 40%;
  }
  .stp-atleta-section {
    background: #151515;
    color: #fff;
    padding: 48px 0 0;
    text-align: center;
    position: relative;
  }

  .stp-atleta-bg-container {
    background-image: url('https://cdn.shopify.com/s/files/1/0940/7037/4676/files/image-cover.png?v=1754810593');
    position: relative;
    padding: 4rem 0;
    min-height: 400px;
  }

  img.stp-atleta-bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    z-index: 2;
    opacity: 1;
  }


  .stp-atleta-content {
    position: relative;
    z-index: 2;
    max-width: initial;
    margin: 0 auto;
    padding: 48px 16px 32px;
    overflow: hidden;
  }
  .stp-atleta-title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    letter-spacing: 1px;
    padding: 16px;
  }
  .stp-atleta-desc {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.5;
    padding: 32px;
    text-align: center;
  }

  .stp-atleta-desc h5 {
    font-family: 'HelveticaCondensedmMedium';
    font-weight: normal;
    font-size: 16px;
  }

  @media (min-width: 998px) {


  .stp-atleta-section {
    display: flex;
  }

  img.stp-atleta-bg {
    top: -20%;
    height: auto;
    object-fit: contain;
    height: 600px;
    left: 0;
  }

  .stp-atleta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
  }

  .stp-atleta-bg-container {
    min-width: 700px;
    padding: 0;
  }

  .stp-atleta-bg-container {
    order: -1;
  }

  .stp-atleta-section {
    padding: 0;
  }

  .stp-atleta-bg-circular {
    left: 0;
    right: 0;
    width: 450px;
    height: 450px;
  }

}

</style>

{% schema %}
  {
    "name": "Sección Atleta",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título",
        "default": "IMPULSANDO EL RENDIMIENTO DE ATLETAS POR MÁS DE 30 AÑOS"
      }, {
        "type": "textarea",
        "id": "text",
        "label": "Texto",
        "default": "Con más de tres décadas de trayectoria, en F&NT formulamos y producimos suplementos con base en la experiencia y la innovación, utilizando ingredientes certificados y procesos propios que cumplen con estándares de calidad.\n\nHoy ofrecemos más de 75 presentaciones, adaptadas a tus objetivos, con la calidad y confianza que nos distingue."
      }, {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Imagen de fondo (atleta)"
      }
    ],
    "presets": [
      {
        "name": "Sección Atleta"
      }
    ]
  }

{% endschema %}